/* Fonts */
/* ------------------------------------------------------------------------------ */
.jetBrainsFont {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
}

.googleScansCode {
  font-family: "Google Sans", sans-serif;
  font-weight: 400;
}

/* Size Fonts */
/* ------------------------------------------------------------------------------ */

.megaFont {
  font-size: 35px;
}
.extraLargeFont {
  font-size: 24px;
}
.largeFont {
  font-size: 22px;
}
.highFont {
  font-size: 20px;
}
.mediumFont {
  font-size: 18px;
}
.lowFont {
  font-size: 16px;
}
.smallFont {
  font-size: 14px;
}
.verySmallFont {
  font-size: 12px;
}

/* Colors - Blocks/Sections */
/* ------------------------------------------------------------------------------ */

.whiteColor {
  background-color: #ffffff;
}
.redColor {
  background-color: #cf4137;
}
.orangeColor {
  background-color: #f7760c;
}
.purpleColor {
  background-color: #8333ff;
}
.purpleColorTransparency {
  background-color: rgba(131, 51, 255, 0.7);
}
.grayColor {
  background-color: #3a3a3a;
}
.redColorError {
  background-color: #f50404;
}
.blackColorLow {
  background-color: #3f3f3e;
}

/* Background Colors */
/* ------------------------------------------------------------------------------ */

.blackColor {
  background-color: #33302d;
}

/* Font Colors */
/* ------------------------------------------------------------------------------ */

.bronwFonts {
  color: #4f413f;
}
.whiteFonts {
  color: #ffffff;
}
.redFonts {
  color: #f44516;
}
.blueFonts {
  color: #0000ff;
}
.purpleFonts {
  color: #9900ff;
}

/* Button Colors */
/* ------------------------------------------------------------------------------ */

.purpleButton {
  background-color: #7860fc;
}
.whiteButton {
  background-color: #b5afae;
}

/* Image Sizes */
/* ------------------------------------------------------------------------------ */

.smallImageLogo {
  width: 150px;
  height: 150px;
}

.extraSmallImageLogo {
  width: 90px;
  height: 90px;
}

.verySmallImageLogo {
  width: 45px;
  height: 45px;
}

/* Border Colors */
/* ------------------------------------------------------------------------------ */

.grayBorder {
  border-color: #505050;
}
.blackBorder {
  border-color: #33302d;
}
.whiteBorder {
  border-color: #ffffff;
}
.greenBorder {
  border-color: #34d399;
}
